$default:#243f4d;
$accent:#436372;
$title: #191919;
$subtitle: #a3bbc8;
$icons: #edf1f4;
$slider: #fcd7b6;
$contact: #7b7b7b;



%myriadpro-400{
  font-family: 'MYRIADPRO-REGULAR', sans-serif;
  font-weight: 400;
}

%rubic-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubic-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}

