@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
@import 'slick';


.header{
  padding: 50px 0;
  &__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo{
  display: flex;
  &__img {
    max-height: 39px;
    max-width: 51px;
    margin-right: 15px;
  }
  &-title{
    font-size: 36px;
    line-height: 58px;
    color: $default;
  }
}

.menu{
  &-list{
    display: flex;
  }
  &-list__item-link{
    color: $accent;
    font-size: 15px;
    line-height: 12px;
  }
  &-list__item + .menu-list__item{
    margin-left: 30px;
  }
}

.user-nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 320px;
  width: 100%;
  &__link{
    border-radius: 50%;
    text-align: center;
    position: relative;
    &:nth-child(1) {
      background-color: $icons;
    }
  }
  &__link-double{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 178px;
    width: 100%;
    border-radius: 25px;
    background-color: $slider;
  }
  &__link-img{
    padding: 17px;
  }
  &__link-text{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #fff;
    color: $default;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    top: 8px;
    left: 118px;
    &:nth-child(2) {
      left: 65px;
    }
  }
  &__btn{
    background-color: $subtitle;
    padding: 0;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
  }
  &__btn-dots{
    padding: 15px;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid $contact;
  margin-bottom: 35px;

  &__item {
    padding-bottom: 88px;
  }

  &__logo {
    margin-bottom: 25px;
  }

  &__adress,
  &__phone,
  &__email {
    display: block;
    padding-bottom: 18px;
  }

  &__tittle {
    color: #1f2044;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  &__list-link {
    font-size: 14px;
    line-height: 32px;
  }

  &__contact {
    max-width: 200px;
  }

  &__nav {
    width: 120px;
  }

  &__form {
    display: flex;
    width: 270px;
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 35px;
    color: $contact;
    max-width: 230px;
  }

  &__form-input {
    border: none;
    padding: 0 12px;
    width: 170px;
    background-color: #fef7f0;

    &::placeholder {
      font-size: 12px;
      line-height: auto;
      color: #234969;
    }
  }

  &__form-btn {
    border: none;
    padding: 0 12px;
    background-color: $subtitle;
    color: #fff;
    font-size: 14px;
    line-height: 23px;
  }
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__copy {
    font-size: 14px;
    line-height: 32px;
    color: $contact;
    // @extend %rubik-400;
  }

  &__nav {
    display: flex;
    // @extend %rubik-400;
  }

  &__nav-item+.footer-bottom__nav-item {
    padding-left: 8px;
  }

  &__nav-link {
    &::after {
      content: '|';
      padding-left: 7px;
    }
  }

  &__nav-link-last {
    &::after {
      content: '';
      display: none;
    }
  }
}

.slider-inner{
  background-color: $slider;
  &__item{
    padding: 205px 300px;
    position: relative;
  }
  &__title{
    font-size: 72px;
    line-height: 70px;
    max-width: 430px;
  }
  &__subtitle{
    max-width: 370px;
    font-size: 18px;
    line-height: 30px;
    padding: 45px 0;
    color: $subtitle;
  }
  &__btn{
    color: #fff;
    display: block;
    max-width: 200px;
    height: 60px;
    background-color: $subtitle;
    position: relative; 
    cursor: pointer;
  }
  &__btn-text{
    display: block;
    font-size: 15px;
    line-height: 12px;
    padding: 25px;
    
  }
  &__btn-arrow{
    position: absolute;
    top: 26px;
    right: 18px;
  }
  &__bg-img{
    position: absolute;
    top: 100px;
    right: 185px;
  }
  & .slick-dots{
    display: flex;
    justify-content: center;
    font-size: 11px; 
    line-height: 9px;
    padding-bottom: 45px;
      li{
        margin-left: 12px;
        button{
          padding: 0;
          border: none;
          color: $default;
          opacity: .3;
          background-color: #fff;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          transition: all .3s;
          
          &:hover {
            opacity: 1;
          }
        }
        &.slick-active{
          button{
            opacity: 1;
          }
        }
      } 
  }
}


.info{
  background-color: #fef7f0;
  &-inner{
    display: flex;
    justify-content: space-between;
    padding: 45px 140px;
  }
  &-item{
    position: relative;
  }
  &-item__img{
   position: absolute;
   left: -80px;
   top: 5px;
   }
   &-item__text{
    font-size: 16px;
    line-height: 30px; 
    color: #414141;  
    &::before {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #dfe3e2;
      position: absolute;
      opacity: .7;
      top: 35px;
      left: -45px;
    }
    &-truck{
      &::before{
        top: 23px;
      }
    }
  }
}

.product{
  background-color: #fafafa;
  &-inner{
    padding-top: 75px;
    margin-bottom: 185px;
    text-align: center;
  }
  &-inner__filter{
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin: 40px auto 80px;
  }
  &-inner__filter-item{
    padding: 0;
    border: none;
    background-color: transparent;
    color: #8b8b8b;
    cursor: pointer;
    &:hover{
      color: #1a1a1a;
    }
  }
  &-inner__filter-item + .product-inner__filter-item{
    margin-left: 30px;
  }
}

.product-content{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  &__item {
    max-width: 270px;
    width: 100%;
    height: 380px;
    background-color: #fff;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
    transition: all .3s;
  }
  &__item-img{
    display: inline-block;
    margin:25px 0 70px;
    max-width: 190px;
    width: 100%;
    height: 190px;
  }
  &__item-subtitle{
    color: $subtitle;
    line-height: 25px;
  }
  &__items-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    right: 45px;  
    transform: translateY(200px);
    transition: all .3s;

  }
  &__item-link{
    height: 45px;
    width: 45px;
    background-color: #fefefe;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    &:hover {
      background-color: $subtitle;
    }
    path{
      fill: $subtitle;
    }
    &:hover{
      path{
        fill: #fff;
      }
    }
  }
  &__item-link + .product-content__item-link{
    margin-left: 15px;
  }
  :hover{
    .product-content__items-icons{
      transform: translateY(0);
    }
  }
}

.features{
  padding-bottom: 100px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }
  &-item{
    background-color: #feefe2;
    height: 390px;
    max-width: 870px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
  }
  &-item__img{
    position: absolute;
    left: 140px;
    top: -100px;
  }
  &-item__box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin-left: 380px;
    padding: 100px 15px;
  }
  &-item__title{
    font-size: 26px;
    line-height: 32px;
    color: $default;
    margin-bottom: 15px;
  }
  &-item__subtitle{
    font-size: 16px;
    line-height: 30px;
    color: $default;
    margin-bottom: 30px;
  }
  &-item__link{
    padding: 15px;
    border: 1px solid rgb(67, 99, 114, 0.4);
    max-width: 180px;
    border-radius: 5px;
    path{
      fill: $accent;
    }
  }
  &-item__link-text{
    font-size: 15px;
    line-height: 12px;
    color: $accent;
    margin-right: 40px;
    
  }
}











@import 'media';